/* Fonts */
@font-face {
    font-family: 'NodestoCapsCondensed';
src: url('/static/fonts/NodestoCapsCondensed.otf') format('opentype');
    font-style: normal;
    drop-shadow(0 0 4px black);
}
@font-face {
    font-family: 'AmiriRegular';
    src: url('/static/fonts/AmiriBold.ttf') format('truetype');
}
/* General Styles */
body {
    margin: 0;
    padding: 1rem 2rem 0rem 2rem;
    font-family: "Signika", "Palatino Linotype", sans-serif;
    color: #e8eff7;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
button {
    background: rgba(0,0,0,0.5);
    border: 1px solid #3a94ee;
    height: 40px;
    width: 40px;
    /* object-fit: contain; */
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
}
button:hover {
    background: #27547e;
    border-color: #a0c6ec;
    transition: background-color 0.5s, border-color 0.5s;
    cursor: pointer;
}
.fa-fake {
    height: 100%;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.header, .footer {
    text-align: center;
}
.header {
    background: url('/static/images/foundry-portal-icon-512.png') 50% 50% no-repeat;
    background-size: contain;
    display: table;
}
.footer {
    padding: 0.5rem 0 0 0;
}
.footer p {
    color: #e8efi7;
    margin: 0;
    font-size: 0.7rem;
}
.header {
    max-height: 80px;
    line-height: 1;
}
h1 {
    font-family: 'NodestoCapsCondensed', sans-serif;
    font-weight: normal;
    letter-spacing: -0.1rem;
    font-size: 5rem;
    line-height: 1;
    margin: 0;
    color: #e8eff7;
    text-shadow: 2px 2px 5px #000;
    display:inline-block;
    -webkit-transform:scale(1.15,1); /* Safari and Chrome */
    -moz-transform:scale(1.15,1); /* Firefox */
    -ms-transform:scale(1.15,1); /* IE 9 */
    -o-transform:scale(1.15,1); /* Opera */
    transform:scale(1.15,1);
}
.header h1 {
    vertical-align: middle;
}
#menu {
    position: fixed;
    right: 2rem;
    top: 3rem;
}
.main-content {
    display: flex;
    flex: 1;
    gap: 2rem;
    padding: 2rem 0rem 0rem 0rem;
    box-sizing: border-box;
}
/* Active Worlds Section */
#active-worlds {
    flex-grow: 1;
    background-color: rgba(11, 9, 10, 0.9);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px #000;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
}
h2 {
    font-family: 'AmiriRegular', sans-serif;
    font-size: 2em;
    color: #e8eff7;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    line-height: 1;
    font-weight: normal;
    text-shadow: 1px 1px 4px #000;
}
.panel > h2::before {
    content: "";
    width: 50%;
    margin-right: 0.5rem;
    border-top: 2px ridge #3a94ee;
    mask-image: linear-gradient(90deg, transparent 0%, black 100%);
}
.panel > h2::after {
    content: "";
    width: 50%;
    margin-left: 0.5rem;
    border-top: 2px ridge #3a94ee;
    mask-image: linear-gradient(270deg, transparent 0%, black 100%);
}
.worlds-gallery {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 20px;
}
.world-card {
    background-color: black;
    border-radius: 2px;
    height: 200px;
    width: calc(33.333% - 20px); /* 3 items per row */
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
    transition: transform 0.2s, box-shadow 0.2s;
}
a:link
{
    color:#FFFFFF;
}
a:visited
{
    color:#FFFFFF;
}
a:hover
{
    color:#FFFFFF;
}
.world-card h3 {
    font-family: 'Signika', sans-serif;
    margin: 1rem 0;
    color: #e8eff7;
    font-size: 1.25em;
    text-align: center;
    padding: 1rem;
    text-shadow: 1px 1px 4px black;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.5) 75%, transparent 100%);
}
.world-card h3::after {
    display: block;
    border-top: 2px solid #3a94ee;
    mask-image: linear-gradient(270deg, transparent 0%, black 50%, transparent 100%);
    content: "";
    width: 80%;
    margin: 0.5rem auto 0;
}
.world-card p {
    margin: 1rem;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-align: left;
}
.world-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px #000;
    border: 1px solid #3a94ee;
    cursor: pointer;
}
.add-new {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('/static/images/background.jpg');
    background-size: cover;
    background-position-x: 50%;
}
/* Foundry Instance Status Section */
#instance-status {
    flex-basis: 300px;
    background-color: rgba(11, 9, 10, 0.9);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 24px #000;
    border-radius: 8px;
    padding: 1.5rem;
}
.status-key {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.status-container {
    display: table;
}
.status-indicator {
    width: 0.5rem;
    height: 0.5rem;;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.online {
    background-color: rgb(0, 255, 0);
    margin-bottom: 0.1rem;
}
/* Keyframes for pulsing light-to-bright blue */
@keyframes pulse-light {
    0% {
        background-color: #0040ff; /* Darker blue */
    }
    50% {
        background-color: #ffffff; /* Brighter blue */
    }
    100% {
        background-color: #0040ff; /* Back to darker blue */
    }
}
/* Active instance indicator with light-to-bright blue pulsing animation */
.active {
    background-color: #0040ff; /* Initial darker blue */
    margin-bottom: 0.1rem;
    animation: pulse-light 1.5s infinite ease-in-out; /* Apply the light pulse animation */
}
.offline {
    background-color: red;
    margin-bottom: 0.1rem;
}
.instance-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.instance-url {
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}
.instance-card {
    display: table;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    transition: transform 0.2s, box-shadow 0.2s;
}
.instance-card h3 {
    font-family: 'Signika', sans-serif;
    vertical-align: middle;
    margin: 0;
    color: #e8eff7;
    font-size: 1.25em;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}
.instance-info-container {
    padding: 1.5rem;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.5) 75%, transparent 100%)
}
.instance-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px #000;
    border: 1px solid #3a94ee;
    cursor: pointer;
}
/* Responsive Design */
@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
    }
    #active-worlds, #instance-status {
        width: 100%;
    }
    .world-card {
        width: calc(50% - 20px); /* For smaller screens, show 2 cards per row */
    }
}
@media (max-width: 768px) {
    .world-card {
        width: calc(100% - 20px); /* For smaller screens, show 1 card per row */
    }
}
/* Add styles for the GitHub link */
.github-link {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 30px;
    height: 30px;
}
.github-link img {
    width: 100%;
    height: auto;
}
